.side-nav {
  height: 100vh;
  width: 200px;
  min-width: 200px;
  border-right: 2px solid #e5ccc9;

  padding-left: 2rem;
}

.nav-link {
  font-family: futura, sans-serif;
  width: 100%;
  display: block;
  padding-top: 50px;
  text-decoration: none;
  color: #c4c3d0;
}

.page-contents {
  display: flex;
}

.graph-title {
  font-family: futura, sans-serif;
  color: lightslategray;
  font-weight: 100;
}

body {
  background: snow;
}

.page-excl-nav {
  padding: 4rem;
  position: fixed;
  left: 300px;
}

.force-select {
  width: 158px;
  height: 20px;
  background: snow;
  color: coral;
  border: 1px solid coral;
  margin-bottom: 3rem;
  outline: none;
}

.link:hover {
  opacity: 0.6 !important;
}

.node:hover {
  cursor: pointer;
}

.splash-page {
  position: fixed;
  left: 240px;
  top: 0;
}
.splash-page,
h1 {
  position: relative;
  left: 30px;
  top: 20px;
}

.btn {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  background: none;
  color: lightsteelblue;
  border: 1px solid lightsteelblue;
  text-align: center;
  margin: 10px;
}

.button-container {
  margin: auto;
  width: 200px;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.axis line {
  stroke: lightslategray;
  stroke-width: 2px;
}

.axis path {
  stroke: lightslategray;
  stroke-width: 2px;
}

.axis text {
  fill: lightslategray;
  stroke-width: 2px;
}

.force-directed-page {
  display: flex;
  flex-direction: column;
}
